<ion-content [fullscreen]="true">
  <div class="page-wrapper">
    <div class="background">
      <div class="logo-container">
        <ion-img src="assets/TimeBeep-logo.png"></ion-img>
        <h3>Todo en tu mano</h3>
      </div>
    </div>

    <div class="content-wrapper">
      <div class="login-container">
        <div class="welcome-section">
          <ion-text class="welcomeText">
            <h1>Bienvenidos</h1>
          </ion-text>
          <ion-text class="welcomeText">
            <p>Inicie sesión para comenzar a gestionar sus turnos</p>
          </ion-text>
        </div>

        <form class="login-form" (ngSubmit)="openUserTab()">
          <div class="input-group">
            <ion-label position="stacked">Número de empleado</ion-label>
            <ion-input placeholder="Número de empleado" type="number" name="idWorker" [(ngModel)]="loginData.idWorker"
              (keyup.enter)="openUserTab()"></ion-input>
          </div>

          <div class="input-group">
            <ion-label position="stacked">Contraseña</ion-label>
            <ion-input placeholder="Contraseña" type="password" name="password" [(ngModel)]="loginData.password"
              (keyup.enter)="openUserTab()"></ion-input>
          </div>

          <ion-button expand="block" fill="clear" class="login-button" type="submit">
            Iniciar sesión
          </ion-button>
        </form>

        <!-- AREA DE TEST TEMPORAL -->
        <div class="test-zone">
          <h4>⚠️ Test Zone ⚠️</h4>
          <p style="color: #666; font-size: 0.8em; margin-bottom: 10px;">
            Admin: ID <b>11</b> | Pass: <b>admin</b>
          </p>
          <ion-button expand="block" color="warning" routerLink="/user-worker">
            Ir a User-Worker
          </ion-button>
        </div>
        <!-- FIN AREA DE TEST -->

      </div>
    </div>
  </div>
</ion-content>