<ion-header class="ion-no-border">
  <ion-toolbar>
    <div style="display: flex; align-items: center; padding-left: 10px;">
      <ion-img src="assets/TimeBeep-logo - clock.png" style="width: 30px; height: 30px; margin-right: 10px;"></ion-img>
      <ion-title style="padding: 0;">Horario de Trabajo</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- CONTENIDO PRINCIPAL -->
  <div id="main" class="page-content">

    <!-- SELECCIÓN DE LA FECHA BASE + BOTONES -->
    <div class="header-fecha">
      <ion-item class="fecha-base">
        <ion-label position="floating">Fecha inicial</ion-label>
        <ion-input type="date" [(ngModel)]="fechaBase" (ionChange)="generarSemana()"></ion-input>
      </ion-item>
      <div class="buttons">
        <ion-button fill="clear" (click)="confirmarGenerarIA()" [disabled]="isGenerating">
          <ion-icon name="layers"></ion-icon>
          {{ isGenerating ? 'Generando...' : 'Generar con IA' }}
        </ion-button>
        <ion-button fill="clear" (click)="crearTurnos()">
          <ion-icon slot="start" name="save"></ion-icon>Guardar
        </ion-button>
        <ion-button fill="clear" (click)="publicarTurnos()">
          <ion-icon name="send-sharp"></ion-icon>Publicar
        </ion-button>
      </div>

    </div>

    <!-- Tabla estilo ShiftApp -->
    <div class="tabla">
      <div class="fila header">
        <div class="col filter-header">
          <div class="search-box">
            <ion-icon name="search-outline"></ion-icon>
            <input type="text" placeholder="Buscar..." [(ngModel)]="searchTerm" (input)="filterWorkers()">
          </div>

          <ion-select placeholder="Filtrar Rol" interface="popover" [(ngModel)]="selectedFunction"
            (ionChange)="filterWorkers()" class="role-filter">
            <ion-select-option [value]="null" style="color: black !important;">Todos</ion-select-option>
            <ion-select-option *ngFor="let f of filteredFunctions" [value]="f.id" style="color: black !important;">
              {{f.name || f.nameCategory}}
            </ion-select-option>
          </ion-select>
        </div>
        <div class="col" *ngFor="let d of diasSemana">
          <p>{{ d.nombre }}</p>
          <p>{{ d.numero }}</p>
        </div>
      </div>


      <!-- Fila por cada trabajador -->
      <div class="fila" *ngFor="let w of worker" [ngClass]="{'locked': w.locked}">
        <div class="col empleado">
          <div class="worker-info-container">
            <div class="avatar" [style.background]="getAvatarColor(w.id)">
              {{ getInitials(w.name, w.surname) }}
            </div>
            <div class="text-info">
              <span class="name">{{ w.name }} {{ w.surname }}</span>
              <span class="role">{{ obtenerNombreFuncion(w.idFuction) }}</span>
            </div>
            <ion-button size="small" fill="clear" (click)="confirmarLock(w)" class="lock-button icon-only"
              [ngClass]="{'locked': w.locked, 'unlocked': !w.locked}">
              <ion-icon [name]="w.locked ? 'lock-closed' : 'lock-open'"></ion-icon>
            </ion-button>
          </div>
        </div>
        <!-- Columna por cada día de la semana -->
        <div class="col" *ngFor="let d of diasSemana">
          <ion-select [ngClass]="{
              'custom-shift-select': true,
              'turno-sin-asignar': getTurno(w.id, d.fechaLarga) === TURNO_SIN_ASIGNAR_ID,
              'turno-libre': getTurno(w.id, d.fechaLarga) === TURNO_LIBRE_ID,
              'turno-manana': getTurno(w.id, d.fechaLarga) === TURNO_MANANA_ID,
              'turno-tarde': getTurno(w.id, d.fechaLarga) === TURNO_TARDE_ID,
              'turno-noche': getTurno(w.id, d.fechaLarga) === TURNO_NOCHE_ID,
              'turno-vacaciones': getTurno(w.id, d.fechaLarga) === TURNO_VACACIONES_ID
            }" [ngModel]="getTurno(w.id, d.fechaLarga)" (ionChange)="setTurno(w.id, d.fechaLarga, $event.detail.value)"
            interface="popover" [disabled]="isShiftLocked(w.id, d.fechaLarga)">

            <ion-select-option [value]="TURNO_SIN_ASIGNAR_ID">-</ion-select-option>
            <ion-select-option *ngFor="let t of tiposTurnos" [value]="t.id">
              {{ t.hours }}
            </ion-select-option>
            <ion-select-option [value]="TURNO_VACACIONES_ID">Vacaciones ✈️</ion-select-option>
            <ion-select-option [value]="TURNO_LIBRE_ID">Libre</ion-select-option>
          </ion-select>
        </div>
      </div>
    </div>
  </div>
</ion-content>