//Variables
$primary-color: #5683F5;
$secondary-color: #95b0f6;
$dark-blue: #07246e;
$text-light: #d0d0d1;
$border-color: #d0d0d1;

ion-header {
    box-shadow: none;
}

.tabla {
    justify-content: center;
    margin-top: 20px;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #ececec;

}

.fila {
    display: flex;
    background: white;
}

.header {
    background: $secondary-color;
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.buttons ion-button {
    margin-left: 10px;
    background-color: $primary-color;
    color: white;
    border-radius: 12px;
}

.fecha-base {
    display: flex;
    justify-content: flex-end;
}

.semana-info ion-label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.col {
    flex: 1;
    padding: 12px;
    text-align: center;
    border-right: 1px solid #eee;
    font-size: 14px;
}

.col:last-child {
    border-right: none;
}

.empleado {
    font-weight: bold;
    background: #fafafa;
}

.turno {
    background: #e7f0ff;
    padding: 8px;
    margin: 4px;
    border-radius: 8px;
    font-size: 13px;
    color: #1d4ed8;
    font-weight: 600;
}