<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Horario de Trabajo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- CONTENIDO PRINCIPAL -->
  <div id="main" class="page-content">

    <!-- Selección de fecha base -->
    <ion-item>
      <ion-label position="floating">Fecha inicial</ion-label>
      <ion-input type="date" [(ngModel)]="fechaBase" (ionChange)="generarSemana()"></ion-input>
    </ion-item>

    <div class="semana-info" *ngIf="diasSemana.length > 0">
      <ion-label slot="start" position="floating">Semana del {{ diasSemana[0].fechaLarga }} al {{
        diasSemana[6].fechaLarga }}</ion-label>
      <ion-button slot="end" fill="clear">Generar Semana</ion-button>
      <ion-button slot="end" fill="clear">
        <ion-icon slot="start" name="push"></ion-icon>
        Publicar turnos</ion-button>
    </div>

    <!-- Tabla estilo ShiftApp -->
    <div class="tabla">
      <div class="fila header">
        <div class="col">Trabajadores</div>
        <div class="col" *ngFor="let d of diasSemana">{{ d.nombre }}<br>{{ d.numero }}</div>
      </div>


      <!-- Fila por cada trabajador -->
      <div class="fila" *ngFor="let w of worker">
        <div class="col empleado">
          <p>{{w.idFuction}}</p>
          {{ w.name }} {{ w.surname }}
        </div>

        <!-- Columna por cada día de la semana -->
        <div class="col" *ngFor="let d of diasSemana">
          <ion-select [value]="getTurno(w.id, d.fechaLarga)"
            (ionChange)="setTurno(w.id, d.fechaLarga, $event.detail.value)" interface="popover"
            placeholder="Seleccionar">
            <ion-select-option *ngFor="let i of tiposTurnos" [value]="i.id">
              {{i.hours}}
            </ion-select-option>
          </ion-select>
        </div>
      </div>
    </div>
  </div>
</ion-content>