<ion-header class="ion-no-border">
  <ion-toolbar>
    <div style="display: flex; align-items: center; padding-left: 10px;">
      <ion-img src="assets/TimeBeep-logo - clock.png" style="width: 30px; height: 30px; margin-right: 10px;"></ion-img>
      <ion-title style="padding: 0;">Mi Horario</ion-title>
    </div>
  </ion-toolbar>
  <ion-progress-bar type="indeterminate" color="primary"></ion-progress-bar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">show-request-all</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>