<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start" default-href="#" class="btnBack"></ion-back-button>
    <ion-title>Mis Trabajadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list *ngIf="workers.length > 0; else noData">
    <ion-item *ngFor="let w of workers" button>
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <h2>{{ w.id }}</h2>
        <p>{{ w.name }} {{ w.surname }}</p>
        <p>Función: {{ w.idFuction }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #noData>
    <ion-text class="ion-padding">
      No hay trabajadores disponibles.
    </ion-text>
  </ng-template>

</ion-content>