<ion-app>
  <!-- MENÚ LATERAL -->
  <ion-menu contentId="main-content" class="custom-menu">
    <ion-header>
      <ion-toolbar class="menu-toolbar">
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="menu-content">
      <ion-list class="menu-list">
        <ion-item button class="menu-item" (click)="goToShifts()">
          <ion-icon name="calendar" slot="start"></ion-icon>
          <ion-label>Realizar Turnos</ion-label>
        </ion-item>
        <ion-item button class="menu-item" routerLink="/tab-user">
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label>Ver Ausencias</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- PÁGINA PRINCIPAL -->
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar class="main-toolbar">
        <ion-buttons slot="start">
          <ion-menu-button class="menu-button"></ion-menu-button>
        </ion-buttons>
        <ion-title>Mis Turnos</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="main-content">

    </ion-content>
  </div>
</ion-app>