<ion-app>
  <!-- PÁGINA PRINCIPAL -->
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar class="main-toolbar">
        <ion-title>Mis Turnos</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="main-content">
      <!-- Selección de fecha base -->
      <ion-item>
        <ion-label position="floating">Fecha inicial</ion-label>
        <ion-input type="date" [(ngModel)]="fechaBase" (ionChange)="generarSemana()"></ion-input>
      </ion-item>

      <!-- Tabla estilo ShiftApp -->
      <div class="tabla">
        <div class="fila header">
          <div class="col">Trabajador</div>
          <div class="col" *ngFor="let d of diasSemana">{{ d.nombre }}<br>{{ d.numero }}</div>
        </div>

        <div class="fila">
          <div class="col empleado">Mi Empleado</div>

          <div class="col" *ngFor="let d of diasSemana">
            <div class="turno">
              <span>Libre</span>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
  </div>
</ion-app>