.tabs {
    height: 100%;
}

ion-tab-bar {
    border-top: 1px solid var(--ion-color-light);
    padding-bottom: env(safe-area-inset-bottom);
}

ion-tab-button {
    --color: var(--ion-color-medium);
    --color-selected: var(--ion-color-primary);
    font-size: 12px;
    font-weight: 500;
}

ion-icon {
    font-size: 24px;
    margin-bottom: 4px;
}