//Variables
$primary-color: #5683F5;
$secondary-color: #ccc;
$letter-color-true: white;
$letter-color-false: black;
$border: 5px;
$margin-icon: 10px;


.container {
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

/* === CARD PERFIL === */
.profile-card {
    width: 300px;
    padding: 20px;
    text-align: center;
}

.profile-image ion-avatar {
    width: 130px;
    height: 130px;
    object-fit: cover;
    margin: auto;
    display: block;
}

.name {
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}

.role {
    color: #6d6d6d;
    margin-bottom: 5px;
}

.id {
    color: #9b9b9b;
    margin-bottom: 10px;
}

.contact-list ion-item {
    --background: transparent;
    margin-top: 10px;
}

/* === FORMULARIO === */
.form-card {
    flex: 1;
    padding: 10px 20px 30px;
    min-width: 500px;
}

.tabs {
    margin-top: 10px;
}

/* GRID FORMULARIO */
.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 20px;
}

.form-grid .full {
    grid-column: 1 / 3;
}

.saveChange {
    color: $letter-color-true;
    border-radius: $border;
    background-color: $primary-color;
    margin-left: 10px;
}

.cancel {
    color: $letter-color-false;
    border-radius: $border;
    background-color: $secondary-color;

}

/* Inputs */
ion-item {
    border-radius: 12px;
    --background: #fafafa;
    --padding-start: 10px;
}

/* === FOOTER === */
.footer {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    border-radius: $border;
    background-color: $primary-color;
    color: $letter-color-true;
}

ion-icon {
    margin-right: $margin-icon;
}