<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mis Ajustes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-split-pane when="xs" contentId="main">
    <ion-menu contentId="main">
      <ion-header>
        <ion-toolbar color="tertiary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list>
          <ion-item button> Item 1 </ion-item>
          <ion-item button> Item 2 </ion-item>
          <ion-item button> Item 3 </ion-item>
        </ion-list>

        <ion-footer>
          <ion-button expand="block">Cerrar Sesión</ion-button>
        </ion-footer>
      </ion-content>
    </ion-menu>

    <div class="ion-page" id="main">
      <ion-header>
        <ion-toolbar>
          <ion-title>Main View</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding"> Main View Content </ion-content>
    </div>
  </ion-split-pane>
</ion-content>