<div class="ion-page" id="manage-hub-content">
    <ion-header class="ion-no-border">
        <ion-toolbar>
            <div style="display: flex; align-items: center; padding-left: 10px;">
                <ion-img src="assets/TimeBeep-logo - clock.png"
                    style="width: 30px; height: 30px; margin-right: 10px;"></ion-img>
                <ion-title style="padding: 0;">Gestión de Equipo</ion-title>
            </div>
            <ion-buttons slot="end">
                <ion-button (click)="logout()">
                    <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true" class="manage-hub-content app-bg">
        <div class="app-header-content">
            <ion-icon name="briefcase-outline" class="header-icon" style="color: var(--ion-color-primary)"></ion-icon>
            <h1>Centro de Gestión</h1>
            <p>Administra tu equipo y gestiona los horarios desde aquí.</p>
        </div>

        <div class="grid-container">
            <ion-card class="app-card clickable dashboard-card" (click)="goWorkers()">
                <div class="card-icon-container employees">
                    <ion-icon name="people-sharp"></ion-icon>
                </div>
                <ion-card-header>
                    <ion-card-title>Mis Empleados</ion-card-title>
                    <ion-card-subtitle>Lista y detalles</ion-card-subtitle>
                </ion-card-header>
            </ion-card>

            <ion-card class="app-card clickable dashboard-card" (click)="goShifts()">
                <div class="card-icon-container shifts">
                    <ion-icon name="calendar-sharp"></ion-icon>
                </div>
                <ion-card-header>
                    <ion-card-title>Gestión de Turnos</ion-card-title>
                    <ion-card-subtitle>Organizar cuadrantes</ion-card-subtitle>
                </ion-card-header>
            </ion-card>

            <ion-card class="app-card clickable dashboard-card" (click)="goApprovals()">
                <div class="card-icon-container approvals">
                    <ion-icon name="shield-checkmark-sharp"></ion-icon>
                </div>
                <ion-card-header>
                    <ion-card-title>Panel de Aprobaciones</ion-card-title>
                    <ion-card-subtitle>Validar peticiones y bajas</ion-card-subtitle>
                </ion-card-header>
            </ion-card>


        </div>
    </ion-content>
</div>