<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start" default-href="#" class="btnBack"></ion-back-button>
    <ion-title>Peticiones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="headerButtons">
    <ion-searchbar placeholder="Buscar nombre del trabador, ID empleado ....."></ion-searchbar>
    <ion-button fill="clear" slot="end">
      <ion-icon name="add-outline"></ion-icon>
      Nueva Petición</ion-button>
  </div>

  <div class="positionCard">
    <ion-card *ngFor="let r of requests" button>
      <ion-card-header>
        <div class="headerCard">
          <ion-chip [ngClass]="{
          'status-pending': r.status === 'Pendiente',
          'status-accepted': r.status === 'Aprobada',
          'status-rejected': r.status === 'Rechazada'}">
            <ion-label>{{r.status}}</ion-label>
          </ion-chip>
          <ion-card-title>{{r.applicationDate}}</ion-card-title>
          <ion-card-subtitle>{{getWorkerName(r.idWorker)}}</ion-card-subtitle>

        </div>
        <ion-card-subtitle>{{getRequestTypeName(r.idType)}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{r.details}}
      </ion-card-content>



    </ion-card>


  </div>



</ion-content>