$primary-color: #5683F5;
$secondary-color: #ccc;
$letter-color-true: white;
$letter-color-false: black;
$danger-color: #dc3545;
$danger-color-hover: #f1657380;
$summit-color: #0776EA;
$summit-color-hover: #6bacf1;
$border-radius-button: 12px;
$border-radius-card: 16px;
$color-background-accepted: #2E7D32;
$color-background-rejected: #dc3545;
$color-background-pending: #FFCDD2;

/**  -----------------------------------------------------
  * |             MOBILE STYLES  (576px - 767px)          |
  *  -----------------------------------------------------
  */

ion-header {
    border: none;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);

    ion-toolbar {
        --background: $background-color;
    }
}

.headerButtons {

    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 12px;

    ion-button {
        background-color: $summit-color;
        color: $letter-color-true;
        border-radius: $border-radius-button;
    }

    ion-icon {
        margin-right: 10px;
    }
}

.headerCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    ion-card-title {
        margin-bottom: 10px;
    }

    ion-card-subtitle {
        margin-bottom: 10px;
    }

    ion-chip {
        --padding-start: 20px;
        margin-bottom: 10px;

    }

}

.positionCard {

    ion-card {
        border-radius: $border-radius-card;
    }

}

.status-pending {
    background: $color-background-pending;
    color: #ff1a0ab4;
}

.status-accepted {
    background: $color-background-accepted;
    color: $letter-color-true;
}

.status-rejected {
    background: $color-background-rejected;
    color: $letter-color-false;
}


/**  -----------------------------------------------------
  * |             TABLET STYLES  (767PX +)                |
  *  -----------------------------------------------------
  */





/**  ---------------------------------------------------
  * |             DESKTOP STYLES  (1024PX +)              |
  *  -----------------------------------------------------
  */
@media (min-width: 1024px) {

    .headerButtons {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-left: 12px;

        ion-searchbar {
            width: 100%;
        }

        ion-button {
            margin: 10px;
            width: 200px;
        }

        ion-icon {
            margin-right: 10px;
        }

    }

    .positionCard {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        margin-left: 15px;

        ion-card {
            width: 100%;
            height: 300px;
        }
    }

    .headerCard {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
    }
}