<ion-content [fullscreen]="true">
  <ion-tabs class="tabs">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="clock">
        <ion-icon name="alarm-outline"></ion-icon>
        Fichar
      </ion-tab-button>
      <ion-tab-button tab="show-shifts">
        <ion-icon name="calendar-outline"></ion-icon>
        Turnos
      </ion-tab-button>
      <ion-tab-button tab="settings">
        <ion-icon name="settings-outline"></ion-icon>
        Ajustes
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>